<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>NewsApp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron" style="color:black">
            <h1 style ="color:rgb(205, 94, 94); text-align: center">Latest News</h1>
        </div>

        <div class="container">
            {% for news_article in news_articles %}

            <img src="{{ news_article.img }}" alt="">
            <a href="{{ news_article.url }}">
                <h2 class="post-title">{{ news_article.headline }}</h2>
                <h3 class="post-subtitle">{{ news_article.description }}</h3>
            </a>
            <p>Posted by <a href="#">{{ news_article.author }}</a> on {{ news_article.date }}</p>

            {% endfor %}

        </div>
    </body>    
</html>
